{{#section 'js'}}
<script>
  $('.removeItem').on('click', function () {
    const id = $(this).data('productid');
    console.log(id);
    $('#txtForId').val(id);
    $('#formIdToDel').submit();
  })
</script>
{{/section}}

<div class="card">
  <div class="card-header">Category</div>
  <div class="card-body">
    {{#if this.isEmpty}}
    <h4>Giỏ hàng rỗng</h4>
    {{else}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Amount</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <form id="formIdToDel" action="/cart/remove" method="post">
          <input type="hidden" name="id" id="txtForId">
        </form>
        {{#each this.items}}
        <tr>
          <th scope="row">
            <a href="/products/detail/{{id}}">
              {{product.ProName}}
            </a>
          </th>
          <td>{{product.Price}}</td>
          <td>{{quantity}}</td>
          <td>{{format Amount}}</td>
          <td class="text-left">
            <a data-productid="{{product.ProID}}" class="btn-sm btn-danger removeItem" href="javascript:;"
              title="Remove" role="button">
              <i class="fa fa-eraser" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <th>
          <b> Total: </b>
        </th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <span class="text-danger font-weight-bold">
            {{format totalMoney}}
          </span>
        </td>
        <td>&nbsp;</td>
      </tfoot>
    </table>
    {{/if}}
  </div>
  <div class="card-footer justify-content-center">
    {{#if this.isEmpty}}

    {{else}}

    <form action="/cart/confirm" method="POST" id="formConfirmOrder">
      <button class="btn btn-outline-success col-10" href="#" type="submit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Confirm
      </button>
    </form>
    {{/if}}
  </div>
</div>;